.header {
  background-image: url("imagenes/smartphone2.jpg");
  width: 100%;
  text-align: center;
  color: black;
  padding: 5% 0% 5% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  margin-bottom: 20px; 
  text-shadow: white 0px 0px 30px;
  font-family: 'Love Ya Like A Sister', cursive;
}
h1{
   font-size:50px;
}

.navbar-margin{
  margin-left:-15px;
  margin-right:-15px; 
}
.navbar-color{
  background-color: white;
  background: white;
  border-color: white; 
}

.navbar-right {
    margin-right: 20px;
}
navbar-header{
  background-color: #cccccc;
}
@media (max-width: 767px) {  
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
          }
    .navbar-collapse.collapse {
        display: none!important;
    }
};



